<% title "About My Idea Drawer" %>
<h1><%= yield(:title) %></h1>
<p><strong>About Ryan Bates:</strong> Ryan Bates has been involved in web development since 1998. In 2005 he started working professionally with Ruby on Rails and is now best known for his work on <aa href="http://railscasts.com">Railscasts</a>, the free Ruby on Rails screencast series.</p>
