You're viewing "<%= link_to @project.name, project_path(@project) %>", last active on  <%=h @project.last_activity_at.strftime("%b, %d %Y at %I:%M %p") %>.
<br /><br />

<h4>Recent Activity</h4>
<% for activity in @project.activities.recent(10) %>
	<p><%= activity.message %></p>
<% end %>
<br />
<%= link_to image_tag("/images/rss.jpg", :alt => "RSS Feed"), "project.rss", :title => "RSS Feed" %>
