<div id="left_col">
	<% title "Edit Project: " + current_project.name %>
    <h1><%=h yield(:title) %></h1>
	<%= render :partial => 'form' %>
</div>

<div id="sidebar">
  <%= render :partial => "project_sidebar"  %>
</div>