<div id="left_col">
	<% title "Create A New Project" %>
    <h1><%= yield(:title) %></h1>
	<%= render :partial => 'form' %>
	<p><%= link_to "Back to List", projects_path %></p>
</div>
<div id="sidebar">
  <%= render :partial => "projects/projects_overview_sidebar"  %>
</div>