<div id="left_col">
	<% title "Edit Screenshot" %>
    <h1><%=h yield(:title) %></h1>
	<%= render :partial => 'form' %>
</div>
<div id="sidebar">
  <h3><%= link_to "&#187; Back to Project Home", project_path(project_param) %></h3>
  <%= render :partial => "projects/project_sidebar"  %>
</div>
