<div id="left_col">
<% title "Viewing Screenshot: " + h(@screenshot.name) %>
<h1><%=h yield(:title) %></h1>
<p style="padding:5px; border:1px solid #333;">
<%= link_to image_tag(@screenshot.image_url(600)), @screenshot.source_url %>
</p>
</div>
<div id="sidebar">
 <h3><%= link_to "&#187; Back to Project Home", project_path(project_param) %></h3>
 <%= render :partial => "projects/project_sidebar"  %>
</div>